// Variables
$info-blue: #4898d1;
$border: 0.3rem;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcdad7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #d5d2cf;
  padding-bottom: 4rem;
}

div.tour {
  margin-top: 5rem;
  border-radius: $border;
  box-shadow: 0rem 0.3rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  max-width: 45%;
  margin: {
    top: 3.5rem;
    left: auto;
    right: auto;
  }
  padding: 0rem;
  padding-bottom: 0.05rem;
  background-color: white;
  p {
    text-align: center;
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }
  h3 {
    margin: {
      top: 0rem;
      left: 1rem;
    }
  }
  h5 {
    float: right;
    right: 3rem;
    margin: 0rem;
    margin-right: 2rem;
    margin-top: 0rem;
    padding: 0.3rem;
    border-radius: $border;
    background-color: rgb(235, 235, 235);
    color: $info-blue;
  }
  p {
    color: $info-blue;
    font-size: 110%;
  }
  a {
    cursor: pointer;
    user-select: none;
    color: lightskyblue;
  }
}

img.tour {
  object-fit: cover;
  padding: 0rem;
  margin: 0rem;
  width: 100%;
  height: 25rem;
  border: {
    top-left-radius: $border;
    top-right-radius: $border;
  }
}

#centered {
  text-align: center;
  margin: {
    left: auto;
    right: auto;
    bottom: 0.4rem;
  }
  color: #35393c;
}

hr#centered {
  max-width: 5rem;
  background-color: $info-blue;
  color: $info-blue;
  border: none;
  padding: 0.1rem;
  margin-top: 0rem;
}
