// Variables
$info-blue: #4898d1;
$border: 0.3rem;
$negative: rgb(196, 65, 65);

* {
  letter-spacing: 0.1em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcdad7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #d5d2cf;
  padding-bottom: 4rem;
}

div.tour {
  margin-top: 5rem;
  border-radius: $border;
  box-shadow: 0rem 0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  max-width: 45%;
  margin: {
    top: 3.5rem;
    left: auto;
    right: auto;
  }
  padding: 0rem;
  padding-bottom: 0.05rem;
  background-color: white;
  p {
    text-align: center;
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }
  h3 {
    margin: {
      top: 0rem;
    }
    padding: {
      left: 1.6rem;
    }
  }
  h5 {
    float: right;
    right: 3rem;
    margin: 0rem;
    margin-right: 2rem;
    margin-top: 0rem;
    padding: 0.3rem;
    border-radius: $border;
    background-color: rgb(235, 235, 235);
    color: $info-blue;
  }
  p {
    color: $info-blue;
    font-size: 110%;
  }
  a {
    cursor: pointer;
    user-select: none;
    color: lightskyblue;
    text-decoration-line: none;
  }
}

img.tour {
  object-fit: cover;
  padding: 0rem;
  margin: 0rem;
  width: 100%;
  height: 25rem;
  border: {
    top-left-radius: $border;
    top-right-radius: $border;
  }
}

#centered,
h1#error {
  text-align: center;
  margin: {
    left: auto;
    right: auto;
    bottom: 0.4rem;
  }
  color: #35393c;
}

button#delete {
  display: block;
  margin: {
    left: auto;
    right: auto;
    bottom: 1rem;
  }
  padding: {
    left: 2rem;
    right: 2rem;
  }
  font-size: 125%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0.3rem;
  border: 1px $negative solid;
  color: $negative;
}

button#delete:hover {
  background-color: $negative;
  color: white;
  cursor: pointer;
}

hr#centered {
  max-width: 5rem;
  background-color: $info-blue;
  color: $info-blue;
  border: none;
  padding: 0.1rem;
  margin-top: 0rem;
}

hr#animated {
  max-width: 5rem;
  background-color: $info-blue;
  color: $info-blue;
  border: none;
  padding: 0.1rem;
  margin-top: 0rem;
  animation-duration: 5s;
  animation-name: loading;
}

p#error {
  color: $negative;
  font-size: 110%;
  text-align: center;
  animation: error;
  animation-delay: 0.2s;
  animation-duration: 0.3s;
}

hr#error {
  max-width: 5rem;
  background-color: $negative;
  color: $negative;
  border: none;
  padding: 0.1rem;
  margin-top: 0rem;
  animation-duration: 0.4s;
  animation-name: error;
}

h1#error {
  animation: error;
  animation-delay: 0.1s;
  animation-duration: 0.4s;
}

@keyframes loading {
  from {
    max-width: 5rem;
    color: $negative;
    background-color: $negative;
  }
  85% {
    max-width: 95%;
    background-color: green;
    color: green;
  }
  to {
    max-width: 5rem;
    background-color: $info-blue;
    color: $info-blue;
  }
}

@keyframes error {
  10%,
  90% {
    transform: translate3d(-1px, 1px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 1px, 1px);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 1px);
  }

  40%,
  60% {
    transform: translate3d(4px, 1px, 0);
  }
}
